<h1>Users</h1>

<button class="btn btn-light btn-block mb-3" [disabled]="!enableAdd" (click)="fireEvent($event)">Button Click</button>
<button class="btn btn-light btn-block mb-3" [disabled]="!enableAdd" (mouseover)="fireEvent($event)">Mouse Over</button>
<button class="btn btn-light btn-block mb-3" [disabled]="!enableAdd" (dblclick)="fireEvent($event)">Double Click</button>
<button class="btn btn-light btn-block mb-3" [disabled]="!enableAdd" (drag)="fireEvent($event)">Drag</button>

<button class="btn btn-light btn-block mb-3" [disabled]="!enableAdd" (click)="addUser({
    firstName : 'Kavindu',
    lastName : 'Sudara'  
})">Add User</button>

<ul class="list-unstyle" *ngIf="loaded && users?.length > 0">
    <li *ngFor="let user of users" class="card card-body mb-2">
        <h2>Name: {{user.firstName}} {{user.lastName}}</h2>
        <ul *ngIf="!user.hide && user.age && user.address">
            <li class="list-group-item">Age: {{user.age}}</li>
            <li class="list-group-item">{{user.address.city}}</li>
            <li class="list-group-item">{{user.address.street}}</li>            
        </ul>
    </li>
</ul>

<h4 *ngIf="users?.length == 0"> No users found! </h4>
<h4 *ngIf="!loaded"> Loding Users!! </h4>
