<h1>Users</h1>
<!-- <ul *ngIf="users.length > 0;else noUsers"> -->
<ul class="list-unstyle" *ngIf="loaded && users?.length > 0">
    <li *ngFor="let user of users" class="card card-body mb-2">
        <h2>Name: {{user.firstName}} {{user.lastName}}</h2>
        <ul *ngIf="showExtended && user.age && user.address">
            <li class="list-group-item">Age: {{user.age}}</li>
            <li class="list-group-item">{{user.address.city}}</li>
            <li class="list-group-item">{{user.address.street}}</li>            
        </ul>
    </li>
</ul>

<!-- <ng-template #noUsers> No users found!!</ng-template> -->
<h4 *ngIf="users?.length == 0"> No users found! </h4>

<h4 *ngIf="!loaded"> Loding Users!! </h4>
